@charset 'utf-8';

@function vm($size){
    @return ($size/750)*100 + vw;
}

/* 颜色组 */
$color-66:#666666;
$color-dd:#dddddd;
$color-ee:#eeeeee;
$color-33:#333333;
$color-44:#4444;

$back-size:vm(80); //返回导航高度
$pd25:vm(25); //pandding值

.abs{
    position:absolute;
}