@charset 'utf-8';

@import '_base.scss';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:vm(30);
    font-family: 'Arail','微软雅黑';
  }
  input,
  button,textarea{
    &:focus{
      outline: none;
    }
  }
  a{
    text-decoration: none;
    &:active{
      -webkit-tap-highlight-color:rgba(255,255,255,0);
      -webkit-user-select:none;
      -moz-user-select:none;
      -moz-user-focus:none;
    }
  }
  .padlr{
    padding-right:$pd25;
    padding-left:$pd25;
  }
  .mt20{
    margin-top:vm(20);
  }

  // 火狐：
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $base-placeholder;  
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $base-placeholder;
  }
  
  // IE：
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
      color: $base-placeholder;
  }
  
  // 谷歌
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
      color: $base-placeholder;
  }
  // 
  .red-linear{
    background-color:#fff;
    background-image:linear-gradient(90deg,themeColor(0.7),themeColor(1));
    &:disabled{
      background-image:linear-gradient(90deg,themeColor(0.6),themeColor(0.6));
    }
  }

  $bottom-btnh:90;
  .big-btn{
    border:none;
    display:block;
    width:85%;
    margin:0 auto;
    height:vm($bottom-btnh);
    border-radius:vm($bottom-btnh/2);
    font-size:vm(36);
    color:#fff;
    letter-spacing:1px;
    &.w100{
      width:100%;
    }
    &.no-radiu{
      border-radius:0;
    }
    &.fixed{
      position:fixed;
    }
    &.bottom{
      bottom:0;
    }
  }
  .fixed-btn{
    position:relative;
    height:vm($bottom-btnh);
  }
  
.bg-ff{
  background-color:#fff;
}

// toast
.toast{
    position:fixed;
    z-index:999;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    padding:vm(10) vm(20);
    border-radius:vm(8);
    left:50%;
    transform:translateX(-50%);
    top:vm(100);
    &.bottom{
        bottom:vm(100);
    }
    &.center{
        top:50%;
        transform: translate(-50%);
    }
}

.txt-tips{
  color:$txt-tips;
  font-size:vm(28);
}

// 滑动开关按钮
.smoonth-btn{
    $h:16;
    $w:60;
    $size:30;
    background-color:successColor(0.5);
    width:vm($w);
    height:vm($h);
    border-radius:vm($h/2);
    &::after{
        content:"";
        display:block;
        background-color:$success-color;
        width:vm($size);
        height:vm($size);
        border-radius:50%;
        transform:translate(vm( $w - $size),vm( - ( $size - $h ) / 2));
        transition:transform 0.5s;
    }
    &.close{
      background-color:forbiddenColor(0.2);
        &::after{
          transform:translate(0,vm( - ( $size - $h ) / 2));
          background-color:$forbidden-color;
        }
    }
}

// 产品列表
.product-list{
  display:flex;
  flex-wrap:wrap;
  padding:vm(10);
  .item{
      $radius:vm(10);
      background-color:#fff;
      width:50%;
      border:vm(10) solid transparent;
      background-clip:content-box;
      border-radius:vm(20);
      img{
          max-width:100%;
          height:auto;
          border-radius:$radius $radius 0 0 ;
      }
      .title{
          font-size:vm(28);
          color:$txt-black;
          word-break: break-all;
          span{
              background-color:$light-red;
              color:#fff;
              font-size:vm(22);
              padding:0 vm(6);
              border-radius:vm(5);
              letter-spacing:1px;
          }
      }
      .content{
          padding: vm(20) {
              top:vm(10);
          };
      }
      .tips{
          margin-top:vm(10);
          display:flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-wrap:wrap;
          span{
              background-color:themeColor(0.06);
              border:1px solid $theme-color;
              font-size:vm(22);
              color:$theme-color;
              display:inline-block;
              margin:0 vm(5);
              border-radius:vm(5);
              padding:0 vm(5);
          }
          b{
              color:$txt-gray2;
              font-weight:normal;
              font-size:vm(22);
              flex-shrink:0;
          }
      }
      .price{
          display:flex;
          align-items:flex-end;
          margin-top:vm(10);
          p{
              font-size:vm(24);
              color:$theme-color;
              span{
                  font-size:vm(34);
              }
          }
          b{
              font-size:vm(22);
              color:$txt-gray2;
              display:inline-block;
              margin-left:vm(10);
              font-weight:normal;
          }
      }
      .shop{
          margin-top:vm(10);
          font-size:vm(28);
          color:$txt-gray1;
      }
  }
}