@charset 'utf-8';

@import '_base.scss';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:vm(30);
    font-family: 'Arail','微软雅黑';
  }
  input,
  button,textarea{
    &:focus{
      outline: none;
    }
  }
  a{
    text-decoration: none;
    &:active{
      -webkit-tap-highlight-color:rgba(255,255,255,0);
      -webkit-user-select:none;
      -moz-user-select:none;
      -moz-user-focus:none;
    }
  }
  .padlr{
    padding-right:$pd25;
    padding-left:$pd25;
  }
  .mt20{
    margin-top:vm(20);
  }

  // 火狐：
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $base-placeholder;  
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $base-placeholder;
  }
  
  // IE：
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
      color: $base-placeholder;
  }
  
  // 谷歌
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
      color: $base-placeholder;
  }
  // 
  .red-linear{
    background-color:#fff;
    background-image:linear-gradient(90deg,themeColor(0.7),themeColor(1));
    &:disabled{
      background-image:linear-gradient(90deg,themeColor(0.6),themeColor(0.6));
    }
  }
  .big-btn{
    $h:90;
    border:none;
    display:block;
    width:85%;
    margin:0 auto;
    height:vm($h);
    border-radius:vm($h/2);
    font-size:vm(36);
    color:#fff;
    letter-spacing:1px;
  }

// toast
.toast{
    position:fixed;
    z-index:999;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    padding:vm(10) vm(20);
    border-radius:vm(8);
    left:50%;
    transform:translateX(-50%);
    top:vm(100);
    &.bottom{
        bottom:vm(100);
    }
    &.center{
        top:50%;
        transform: translate(-50%);
    }
}

.txt-tips{
  color:$txt-tips;
  font-size:vm(28);
}